 
 *{
  font-family: "Work Sans", sans-serif;
 }

 body{
    /* border: 1px solid red; */
    
    max-width: 1920px;
    
 }
 .bg-colour{
    background-color: rgba(255, 144, 14, 0.1);
 }

 nav, .header-pro , .s-main{
    max-width: 1440px;
    margin: 0 auto;
 }
.navlink{
    text-decoration:none ;
    list-style: none;
    color: rgb(66, 66, 66);
}

}
.navlist{
    list-style: none;
}
.display-flex{
    display: flex;
}
.navnav{
    justify-content: space-between;
    align-items: center;
}
.navlist{
    gap: 30px;
    font-size:1.2rem;
}
.navpera{
    font-weight: bold;
    font-size: 3.3rem;
}
.h1{
    margin-top: 80px;
}
 
.h2{
    /* border: 2px solid red; */
     padding: 0px 200px;
    width: 860px;
    text-align: center;
   align-items: center;
   /* border-style: none; */
}
.h3{
    font-size: 4rem;
    font-weight: bold;
}
.h4{
    color: rgb(114, 114, 114);
}
.button-color{
    color: white;
    background-color: #FF900E;
}
.h5{
    padding: 20px 20px;
    border-radius: 10px;
    border-style: none;
    font-size: 1.2rem;
}
.h6{
    height: 700px;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* header done  */

.m1{
    height: 342px;
    width: 342px;
   
}
.m0{
    
     display: grid;
     grid-template-columns:repeat(2 , 1fr);
     
     
}
.m2{
    width: 540px;
    /* align-items: center; */
    margin: auto 0;
}
.m3{
   font-size: 45px;
   color: rgb(114, 114, 114);
}
.m4{
    color:rgb(19, 19, 19) ;
}
.m5{
    color: rgb(255, 144, 14);
}
/* not to be change more  */

.m001{
    display: flex;
    gap: 100px;
    justify-content: center;
}

/* done 2nd step  */
/* responsive part  */
 @media screen and (max-width: 600px) and (max-width: 992px){
    .m0{
        grid-template-columns: repeat(1,1fr);
    }
    .m001{
        display: flex;
        flex-wrap: wrap;
    }
    .navnav{
        flex-direction: column;
    }
    .h6{
       max-width: 600px;
       max-height: 600px;
       flex-direction: column;

    }
    .h2{
        max-width: 300px;

    }
}
    /* some facts section  */
    .s2{
        font-weight: 700;
        font-size: 3.2rem;
        color: rgb(19, 19, 19);
    }
    .s3{
        font-size: 1rem;
        color:rgb(114, 114, 114) ;
        width: 542px;
    }
    .s-1{
        display: flex;
        gap: 100px;
        margin: 50px 50px; 
       
    }

    .s4{
        border:2px solid #FF900E ;
        width: 242px;
        
        height: 242px;

        border-radius: 8px;
        
       
    }
    
     .s5{
         display: flex;
         flex-wrap: wrap;
         flex-direction: column;
         align-items: center;
         margin-top: 50px  ;
     }
    
    .s6{
        font-weight: 600;
        font-size:3.1rem ;
        color: rgb(66, 66, 66);
    }
    .s7{
        font-size: 1.2rem;
        color: rgb(114, 114, 114);
    }
    .s0{
        margin-top: 100px;
    }
    